<style type="text/css">
    fieldset {
        margin: 40px;
        border: 1px solid #ddd;
        padding: 20px;
    }

    fieldset>legend {
        font-size: 24px;
    }

    code {
        font-family: monospace;
        display: block;
        margin: 20px 0;
    }
</style>
<div class="page-header">
  <h1>Serviços Disponíveis</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Matrículas - <small>GET /api/matriculas</small>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaMatriculas()">Busca Matrículas</button>
            </div>
          </div>
          <div class="panel-body">
            {{matriculas}}
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Matrícula - <small>GET /api/matriculas/:id</small>
            <div class="pull-right">
                <input type="text" class="form-control input-sm" placeholder="id" ng-model="id" style="display: inline-block; width: 70px; height:23px" ">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaUsuario()">Buscar Matrícula</button>
            </div>
          </div>
          <div class="panel-body">
            {{matricula}}
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Turma - <small>GET /api/turmas</small>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaTurmas()">Buscar Turmas</button>
            </div>
          </div>
          <div class="panel-body">
            {{turmas}}
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Indicadores - <small>GET /api/indicadores</small>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaIndicadores()">Buscar Indicadores</button>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <select required
                            name="formaPagamento"
                            style="padding: 0"
                            ng-model="indiceSelecionado"
                            class="form-control input-sm"
                            ng-options="indice as indice.nome group by indice.ancestry for indice in indices track by indice.id"
                            class="form-control">
                        <option value="">-- escolha um valor --</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <p class="form-control-static">
                        <label>Índice Selecionado</label>: {{indiceSelecionado.ancestry}} - {{indiceSelecionado.nome}}
                    </p>
                </div>
            </div>
            <br>
            <p><small>{{indicadores}}</small></p>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Cadastro Medição - <small>POST /api/medicoes</small>
          </div>
          <div class="panel-body">
            <form action="" id="formNovaMedicao">
                <h5>Medição Criada: {{medicaoCriada | json}}</h4>
                <div class="form-group">
                    <label for="matriculaID">Matrícula ID</label>
                    <input type="text" class="form-control" ng-model="medicao.matricula_id" name="medicao[matricula_id]" id="matriculaID" placeholder="Matrícula ID">
                </div>
                <div class="form-group">
                    <label for="indicadorID">Indicador ID</label>
                    <input type="text" class="form-control" ng-model="medicao.indicador_id" name="medicao[indicador_id]" id="indicadorID" placeholder="Indicador ID">
                </div>
                <div class="form-group">
                    <label for="indiceID">Índice ID</label>
                    <input type="text" class="form-control" ng-model="medicao.indice_id" name="medicao[indice_id]" id="indiceID" placeholder="Índice ID">
                </div>
                <div class="form-group">
                    <label for="tempo">Tempo</label>
                    <input type="text" class="form-control" ng-model="medicao.tempo" name="medicao[tempo]" id="tempo" placeholder="Tempo">
                    <span class="help-block">hh:mm:ss.mmm</span>
                </div>
                <div class="form-group">
                    <label for="melhor_valor">
                        <input type="checkbox" ng-model="medicao.melhor_valor" name="medicao[melhor_valor]" id="melhor_valor">
                        Melhor Valor?
                    </label>
                </div>
                <div class="form-group">
                    <label for="data">Data Inclusão <small>(opcional)</small></label>
                    <input type="text" class="form-control" ng-model="medicao.data_inclusao" name="medicao[data_inclusao]" id="data" placeholder="Data Inclusão">
                    <span class="help-block">dd/mm/yyyy</span>
                </div>
                <div class="form-group">
                    <label for="tag">Tag <small>(opcional)</small></label>
                    <input type="text" class="form-control" ng-model="medicao.tag" name="medicao[tag]" id="tag" placeholder="tag">
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="salvarMedicao()">Salvar Medição</button>
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Versão Serviço - <small>GET /api/:servico/versao</small>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="atualizaVersao()">Atualizar</button>
            </div>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Versão Atual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="versaoServico in versoes track by $index">
                        <td>{{versaoServico.servico}}</td>
                        <td>{{versaoServico.versao}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
</div>  