<style type="text/css">
    fieldset {
        margin: 40px;
        border: 1px solid #ddd;
        padding: 20px;
    }

    fieldset>legend {
        font-size: 24px;
    }

    code {
        font-family: monospace;
        display: block;
        margin: 20px 0;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Usuários
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaUsuarios()">Busca Usuários</button>
            </div>
          </div>
          <div class="panel-body">
            {{usuarios}}
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Usuário
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaUsuario()">Buscar Usuário</button>
            </div>
          </div>
          <div class="panel-body">
            {{usuario}}
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Turmas
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaTurmas()">Buscar Turmas</button>
            </div>
          </div>
          <div class="panel-body">
            {{turmas}}
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Indicadores
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="buscaIndicadores()">Buscar Indicadores</button>
            </div>
          </div>
          <div class="panel-body">
            {{indicadores}}
          </div>
        </div>
    </div>
</div>